name: Publish
on:
  workflow_call:
    version:
      description: 'The version type to release'
      required: true
      type: string
    tag:
      description: 'The dist-tag to release on'
      required: true
      type: string
      default: latest
jobs:
  publish:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: setup git user
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
    - uses: actions/setup-node@v5
      with:
        node-version: 24.x
    - name: npm test
      run: npm test
    - name: npm version
      run: npm version "${{ inputs.version }}"
    - uses: step-security/wait-for-secrets@v1
      id: otp
      with:
        slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
        secrets: |
          OTP:
            name: 'npm otp'
            description: 'An npm one time password'
    - name: setup npm auth
      run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc
    - name: npm publish
      run: npm publish --access=public --tag="${{ inputs.tag }}" --otp ${{ steps.otp.outputs.OTP }}
    - name: git push
      run: |
          git push origin HEAD:${{ github.ref }} --follow-tags
