name: Publish
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version type to release'
        required: true
        type: string
        default: patch
      tag:
        description: 'The dist-tag to release on'
        required: true
        type: string
        default: latest
    secrets:
      NPM_TOKEN:
        required: true
permissions:
  contents: write
  id-token: write
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: setup git user
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
      - uses: actions/setup-node@v5
        with:
          node-version: 24.x
          registry-url: 'https://registry.npmjs.com'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: npm test
        run: npm test
      - name: npm version
        run: npm version "${{ inputs.version }}"
      - uses: step-security/wait-for-secrets@v1
        id: otp
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          secrets: |
            OTP:
              name: 'npm otp'
              description: 'An npm one time password'
      - name: npm publish
        run: |
          npm publish --access=public --tag="${{ inputs.tag }}" --otp ${{ steps.otp.outputs.OTP }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: git push
        run: git push origin --follow-tags
